<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ai Web Shop</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="app">
	<div class="container">
		<header class="main_header" ref="mainHeader">
			<a class="logo_img_link" href="#">
				<img class="logo_img" src="img/AI.png" width="50" height="50">
			</a>
			<h1>Ai WebShop</h1>
			<search :goods="goods" @filter_send="updateGoods"></search>
			<button class="cart-button btn" @click="toggleCartVisibility">Корзина</button>
			<span class="cartCount" v-if="cartCount > 0">{{ cartCount }}</span>
		</header>
		<main class="main_content" ref="mainContent">
			<error v-if="isError"></error>
			<goods-list :goods="filteredGoods" :cart="cartGoods" @add="addNewItem" v-else></goods-list>
		</main>
		<cart :goods="filteredGoods" :visible="isVisibleCart" :cart_goods="cartGoods" @cart_close="toggleCartVisibility" @cart_remove_good="removeItem"></cart>
	</div>
</div>
	<script type="text/javascript" src="script/vue.js"></script>
	<script type="text/javascript" src="script/script.js"></script>
</body>
</html>